
body,td,th {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
}


h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #035356;
	font-weight: bolder;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
}

strong {
	font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

em { 
	font-style: italic;
}

.banner {
	height: 200px;
	width: 738px;
	position: absolute;
	top: 0;
	z-index: 40;
	background: url('../images/header.png') no-repeat;
	left: 50%;
	margin-left: -360px;
}

.apDiv1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 95%;
	max-width: 1260px;
	z-index: 5;
}

.apDiv2 {
	position: absolute;
	left: 146px;
	top: 210px;
	width: inherit;
	height: 940px;
	z-index: 5;
	overflow: auto;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 5px;
	text-align: justify;
}

.homepage {
	position: absolute;
	left: 146px;
	top: 210px;
	width: auto;
	height: 940px;
	z-index: 5;
	overflow: auto;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 5px;
	text-align: justify;
}

.media {
	position: absolute;
	left: 146px;
	top: 210px;
	width: 1030px;
	height: 940px;
	z-index: 5;
	overflow: auto;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 5px;
	text-align: justify;
}

#spotlight {
	float: right;
	padding: 25px;
	width: 400px;
	height: auto;
	top: 0px;
	position: relative;
	padding-top: 0px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
}

#funding {
	position: relative;
	width: auto;
	height: 100px;
	bottom: 0px;
	padding-top: 135px;
	padding-left: 160px;
}

#funding img{
	margin-right: 30px;
}

g {
	font-family: "camptonlight";
	color: #666;
}

sy {
	font-family: sans-serif;
}

@-viewport {
	width: device-width;
}